@model TravelExpertsData.Customer
@{
    ViewData["Title"] = "Login";
}

<!--
Account Login view provides user a page to login into the website
Author: Daniel Palmer
Date: 2022-02-12
-->

@{ 
    bool wasLoggedIn = !Context.Session.Keys.Contains("LoginErrorMessage");
    string loginErrorMsg = !wasLoggedIn ? Context.Session.GetObject<string>("LoginErrorMessage") : "";
}
@if (!wasLoggedIn)
{
<div class="alert alert-warning text-dark" style='@(loginErrorMsg == "" ? "display: none" : "display: inherit")' id="login-warning">
    @loginErrorMsg
    <script>
        function fadeOut(query) {
            const elem = document.querySelector(query);
            elem.style.transition = "0.6s ease-in-out all";
            elem.style.opacity = '0';
            setTimeout(() => {
                elem.style.display = 'none';
            }, 1000);
        }
    </script>
    <button type="button" class="close" onclick="fadeOut('#login-warning'); document.querySelector('#CustUsername').focus();">&times;</button>
</div>
}

<div class="col-12">
    <div class="jumbotron col-md-6 mx-auto">
        <h2>Login</h2>
        @if (!String.IsNullOrEmpty(ViewBag.LoginError))
        {
            <h3 class="text-danger">
                @ViewBag.LoginError
            </h3>
        }
        <hr class="blueRule" />
        <form class="col-md-10" asp-action="Login">
            @if (!wasLoggedIn)
            {
                <input name="ReturnUrl" type="hidden" value="/Cart" />
                Context.Session.Remove("LoginErrorMessage");
            }
            
            <div class="form-group">
                <label asp-for="CustUsername" class="control-label"></label>
                <input asp-for="CustUsername" class="form-control" />
                <span asp-validation-for="CustUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustPassword" class="control-label"></label>
                <input type="password" asp-for="CustPassword" class="form-control" />
                <span asp-validation-for="CustPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-primary siteFont" />
            </div>
        </form>
    </div>
</div>
<br />
