@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<div class="text-center jumbotron">
    <h1 class="display-4">Welcome to Travel Experts</h1>
    <p style="font-size:24px" >Travel the world!</p>
</div>

<div style="font-size:24px" class="text-center">
    <p>New user can register <span><a class="btn btn-primary">Here</a></span> </p>
</div>

<div style="font-size:24px" class="text-center">
    <p>Returning user can Login <span><a class="btn btn-primary">Here</a></span> </p>
</div>

<div style="font-size:24px" class="text-center">
    <p>Returning user can order a package <span><a class="btn btn-primary">Here</a></span></p>
</div>
<br />
