@model dynamic
@{
    ViewData["Title"] = "Book a Vacation Package";
}
<script src="/js/package-filter.js" defer></script>

<form class="row form-group text-center siteFont" asp-controller="Booking" asp-action="BookPackage">
    <label class="col-12 text-center col-md-auto col-form-label" for="selectedPackage">Select a vacation package:</label>
    <select style="color:black" class="col-8 mx-auto mx-sm-0 col-md-3 form-control siteFont" id="selectedPackage" name="selectedPackageId" asp-items='@new SelectList(Model, "Value", "Text")'></select>
</form>

<div id="pkgInfo" style="display: none; background-color: rgba(0, 0, 0, 0); border: 0" class="row card">
    <div style="padding-top:36px; border: 0; background-color: rgba(0, 0, 0, 0)" class="text-center" id="pkgInfoContent">
        <h1 id="pkgName"></h1>
        <hr class="blueRule" />
        <h3 id="pkgDesc"></h3>
        <div>
            <span class="siteFont" id="pkgStartDate"></span> - <span class="siteFont" id="pkgEndDate"></span>
        </div>

        <div class="siteFont" id="pkgBasePrice"></div>
    </div>
    <br />

    @* Image carousel *@
    <div id="carousel" class="carousel slide mx-auto my-2" data-ride="carousel">
        <div style="border-radius:10px" class="carousel-inner"></div>
        <a class="carousel-control-prev" href="#carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <br />
    <br />
    <form class="col-6 mx-auto mt-3" asp-controller="Cart" asp-action="AddItem">
        <input id="selectedPackageId" name="packageId" type="hidden" />

        <div class="row justify-content-md-center">
            <button class="btn btn-primary siteFont col-5" type="submit">Add to Cart</button>
            <a id="btnMoreInfo" class="col-5 btn btn-primary siteFont ml-2">More info <span>&gt;</span></a>
        </div>
    </form>
    <br />
    <br />
    <div id="moreInfo" class="siteFont container">
            
    </div>
</div>
<br />
<br />
@*<partial name="_BookingSideMenuPartial" />*@
@*<div class="row">
    <div class="col-sm-3">
        <div class="list-group">
            <a class="list-group-item active table-hover" asp-controller="Booking" asp-action="Cart">Cart</a>
            <a class="list-group-item" asp-controller="Product" asp-action="List">Products</a>
            <a class="list-group-item" asp-controller="Package" asp-action="List">Packages</a>
        </div>
    </div>
</div>*@

@*<form asp-controller="Booking" asp-action="ViewBookings">
    <select name="id" asp-items="@(new SelectList(ViewBag.Customers, "ID", "FullName"))"></select>
    <button type="submit" class="btn btn-primary">Get Bookings</button>
</form>*@
