@*

    The page where the user can choose options for their package, like number of travelers
    and trip type.
    Author: Nate Penner
    Styling: Daniel Palmer, Nate Penner
    February 2022

*@

<br />
<br />
<div style="padding-top:36px" class="jumbotron">
    <h1 class="text-center">@ViewBag.PackageName</h1>
    <hr class="blueRule" />
    <form class="text-center" asp-controller="Booking" asp-action="FinalizeOptions">
        <input type="hidden" name="packageId" value='@TempData["packageId"]' />
        <div class="form-group">
            <label class="col col-md-6 siteFont">How many people are traveling?</label>
            <div class="col col-md-6 siteFont mx-auto">
                <select name="numTravelers" style="color: black" class="col col-md-4 siteFont py-2" asp-items="@ViewBag.SelectNumTravelers"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col col-md-6 siteFont">Travel Class</label>
            <div class="col col-md-6 siteFont mx-auto">
                <select name="tripTypeId" style="color: black" class="col col-md-4 siteFont py-2" asp-items="@ViewBag.SelectTripClass"></select>
            </div>
        </div>
        <div class="form-group">
            <button class=" btn btn-primary text-center siteFont" type="submit">Next</button>
        </div>
    </form>
</div>