@model TravelExperts.Models.CartViewModel

@{
    ViewData["Title"] = "ViewCart";
}

<h1>Cart</h1>

<div class="row">
    <partial name="_BookingSideMenuPartial" />

    <div style="padding-top:0;" class="col-sm card px-0 jumbotron">
        <div class="container-fluid ">
            <div class="row">
                <h4  class="col-sm pl-2 py-2 cartHeader">Cart</h4>
            </div>
            <div class="row ">
                <div class="col m-auto">
                    @if (Model.IsEmpty())
                    {
                        <h3 style="color:#fff" class="text-center font-italic my-auto">Cart is empty</h3>
                    }
                </div>
            </div>
        </div>
    </div>
</div>